# Commands
# Commands
alias ll ls -p
alias l ls -lhrp
alias cl clear
alias h history
alias grep grep -nP
alias calias cat $HOME/.aliases

# CC
alias cc gcc

#Places General
alias cdDNV cd /nfs/site/disks/dnv.emu.002/dmedin2

#Simics Package
# Latest simics packages
#setenv Simics /nfs/site/disks/dnv.emu.001/simics/simics-4.8.pre103/simics-4.8.81
#setenv Simics /nfs/site/disks/dnv.emu.001/simics/simics-4.8.pre123/simics-4.8.96
setenv Simics /nfs/site/disks/dnv.emu.001/simics/simics-4.8.pre135/simics-4.8.110

#CDF disk
alias cdCDF cd /nfs/site/disks/cdf.emu.002/dmedin2

#CNL disk
#source  /p/mpg/sa_csv_vjt_01/common_collateral/SLE/Scripts/idc-emulation-alias.sh

# PPC
alias cdPPC cd /nfs/site/disks/fm_vt_0073/work/dmedin2
setenv PPC /nfs/site/disks/fm_vt_0073/work/dmedin2/
# PPC vtools collaterals
alias cdvt cd /nfs/site/proj/vt/tools/sim/collateral

#TMUX tmp
alias be "$HOME/local/bin/tmux show-buffer | xclip -i"
alias bi '$HOME/local/bin/tmux set-buffer "`xclip -o`"'
alias bpwd "pwd | xclip -i"
alias tmux "$HOME/local/bin/tmux"

# Eclipse
alias eclipse "/nfs/site/eda/group/SYSNAME/simics/windriver/simics/4.8.87/bin/simics-eclipse"

# IDI
alias IDIclone "git clone ssh://dmedin2@git-amr-2.devtools.intel.com:29418/pve_spark_modules-idi_xtor"
